
.background-black {
    height: 100;
    width: 100;
    background-color: black;
    font-family: "Arial, Helvetica, sans-serif";
    font-size: 20px;
    color: black;
    }


.header {
    margin: 0 3em 0 3em;
    box-sizing: border-box;
    background-color: black;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: "Arial, Helvetica, sans-serif";
    color: white;
    margin-left: 20px;
}

.smallHeader {
    box-sizing: border-box;
    padding: 20px;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: "Arial, Helvetica, sans-serif";
    margin: 0px 40px 20px 40px;
}

.ImagenesBegins {
    width: 300px;
    height: 300px;
}

.container {
    width: 980px;
    margin: 0 auto;
  }